* {
  box-sizing: border-box;
}

:root {
  --dark-navy: #313E51;
  --pure-white: #fff;
  --light-bluish: #ABC1E1;
  --light-grey: #F4F6FA;
  --border-radius: 24px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-grey);
  padding: 140px;

}

.app {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 131px;
  min-height: 100vh;
}