* {
	box-sizing: border-box;
}

:root {
	--color-primary: #007bff;
	--color-dark: #1d2124;
	--color-light: #ffffff;
	--color-lighter: #dfdfdf;
	--color-shadow: rgba(162, 160, 160, 0.298);
	--color-secondary: #6c757d;
	--border-radius: 5px;
	--transition:0.3s ;
}

body {
	margin: 0;
	font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}