.navbar {
	height: 70px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: solid 1px var(--color-lighter);
	padding: 16px 24px;
	margin-bottom: 16px;
	box-shadow: 0px 2px 10px var(--color-shadow);
}

.right {
	display: flex;
	justify-content: end;
	align-items: center;
}

.list {
	display: flex;
	align-items: center;
	list-style-type: none;
	color: var(--color-dark);
}

.menu-link {
	display: flex;
	align-items: center;
	list-style-type: none;
	color: var(--color-dark);
}

.list-item {
	padding: 12px;
	color: var(--color-dark);
}

.logo {
	padding: 10px;
	font-size: 20px;
	color: var(--color-dark);
	white-space: nowrap;
	justify-content: start;
}

.link {
	text-decoration: none;
}

.features-button:hover,
.enterprise-button:hover,
.support-button:hover,
.pricing-button:hover {
	text-decoration: underline;
}

.signup-button {
	color: var(--color-primary);
	padding: 7px 12px;
	border: 1px solid var(--color-primary);
	border-radius:var(--border-radius);
	white-space: nowrap;
}

.signup-button:hover {
	color: var(--color-light);
	background-color: var(--color-primary);
	transition:var(--transition);
}

.container {
	max-width: 975px;
	justify-content: center;
	margin: 0 auto;
}

.pricing {
	margin: 0 auto;
	padding: 8px 0;
	max-width: 800px;
}

.pricing-header {
	text-align: center;
	font-size: 56px;
	font-weight: 200;
	margin-bottom: 0;
}

.pricing-text {
	text-align: center;
	font-size: 20px;
	font-weight: 100;
	line-height: 30px;
	padding: 0 15px;
}

.cards {
	display: flex;
	justify-content: space-between;
}

.card {
	border: 1px solid var(--color-lighter);
	text-align: center;
	flex: 1;
	margin: 20px;
	border-radius:var(--border-radius);
	box-shadow: 0 1px 5px var(--color-shadow);
}

.card-content {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.card-list {
	padding: 0;
}

.subscription-type {
	border-bottom: 1px solid var(--color-lighter);
	margin: 0;
	padding: 10px 0;
	background-color: #f7f7f7;
	font-weight: 400;
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.card-text {
	list-style-type: none;
	padding: 0 20px;
	margin: 0;
	line-height: 24px;
	white-space: nowrap;
}

.price-and-text {
	padding: 20px;
}

.dollar {
	font-size: 40px;
	font-weight: 500;
}

.month {
	font-size: 32px;
	color: var(--color-secondary);
	font-weight: 400;
}

.pb-white {
	color: var(--color-primary);
	background-color: var(--color-light);
	border: 1px solid var(--color-primary);
}

.pb-blue {
	color: var(--color-light);
	border: 1px solid var(--color-primary);
	background-color: var(--color-primary);
}

.price-button {
	display: block;
	padding: 10px;
	font-size: 20px;
	border-radius:var(--border-radius);
}

.pb-white:visited {
	color: var(--color-primary);
}

.pb-white:hover {
	background-color: var(--color-primary);
	color: var(--color-light);
	transition: var(--transition);
}

.pb-blue:visited {
	color: var(--color-light);
}

.pb-blue:hover {
	background-color: var(--color-primary);
	color: var(--color-light);
	transition: var(--transition);
}

.extras {
	display: flex;
	justify-content: center;
	margin: 50px 10px;
	border: 20px 10px;
	border-top: 1px solid var(--color-lighter);
}

.bottom-list {
	margin: 0 auto;
	padding: 0 10px;
	flex: 1;
}

.extras-heading {
	font-size: 20px;
	font-weight: 500;
}

.extras-list {
	padding: 0;
	margin: 0;
}

.extras-link {
	list-style-type: none;
}

.extras-text {
	text-decoration: none;
	font-size: 16px;
	color: var(--color-secondary);
	white-space: nowrap;
}

.extras-text:visited {
	color: var(--color-secondary);
}

.extras-text:hover {
	text-decoration: underline;
}

.bsicon {
	margin-top: 25px;
}

.bootstrap-year {
	margin: 8px 0;
}

@media screen and (max-width: 770px) {
	.navbar {
		display: flex;
		flex-direction: column;
		padding: 2px;
		height: 90px;
	}

	.navbar--left {
		justify-content: center;
	}

	.company-link {
		font-size: 16px;
	}

	.navbar-right > ul {
		justify-content: center;
		margin: 0;
	}

	.pricing-header {
		margin-top: 5px;
		font-size: 40px;
	}

	.pricing-text {
		font-size: 16px;
	}

	.cards {
		flex-wrap: wrap;
		align-content: center;
	}

	.free,
	.pro {
		flex-grow: 1;
	}

	.enterprise {
		flex-grow: 2;
	}

	.extras {
		flex-wrap: wrap;
	}

	.bottom-list {
		width: 50%;
	}
}
